body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 2.5rem;
}

.form-label {
    font-weight: 600 !important;
}

/* Navbar */
.navbar {
    height: 4rem;
    background-color: white;
}

.fa-compass {
    color: red;
    font-size: 2rem;
}

.navbar-brand {
    color: red !important;
    font-size: 1.5rem !important;
}

/* to override the css given by the bootstrap we use !important */

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
    font-size: 1.5rem;
}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    margin-bottom: 10px !important;
}

.listing-link {
    text-decoration: none;
}

/* card effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* ADD Page */

.add-btn {
    background-color: #fe424d;
    text-decoration: none;

}

/* edit apge */

.edit-btn {
    background-color: #fe424d;
    text-decoration: none;
}

/* show page */

.show-card {
    padding-left: 1rem;
    padding-right: 0;

}

.show-image {
    height: 40vh;
    width: 120vh !important;
}

.btns {
    display: flex;
}

/* Map */
#map {
   height: 380px;
   width: 100vh;
}